<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- MathJax -->
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

<!-- <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    CommonHTML: {
			styles: {
				".mjx-math *": {
					"max-width": "100%"
				},
				".mjx-math": {
					"max-width": "100%"
				},
				".mjx-chtml": {
					"max-width": "100%",
					"overflow-x": "scroll",
					"overflow-y": "hidden",
					"display": "inline"
				}
			}
		 }
  });
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script> -->
<head>
	<meta charset="utf-8">
	{% if page.url == "/" %}
		<meta name="description" content="my obsidian notes, just looking for a way to put them up online">
	{% endif %}
  <meta name="author" content="utku turk">
	<link rel="icon" type="image/png" href="{{ "/favicon.png" | prepend: site.baseurl }}">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/assets/css/syntax.css" | prepend: site.baseurl }}">
	<div class="header">
		<h1 ><a href="{{ site.baseurl }}/">obsidian</a></h1>
		<hr style="border-color:mintcream;">
	</div>
</head>
