---
---
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

* {
	font-family: "Inter", "Georgia";
	background-color:whitesmoke !important;
}

a {
	font-size: 1em;
	position: relative;
	color:black;
	text-decoration:none;
}

/* header and main page */

a:before {
	content: "";
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.61);
	visibility: hidden;
	-webkit-transform: scaleX(0);
	-moz-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
}

a:hover:before {
	visibility: visible;
	transform: scaleX(1);
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
}

td {
	word-wrap:break-word;
	height:1px;
	padding-top: 2%;
}

.post-listings {
	table-layout: fixed;
	width:60%;
  margin-bottom: 13vh;
	font-size: .75em;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	animation-name: fadein;
	animation-duration: 2s;
}

.header {
	padding-top: 2%;
	width:60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.header a {
	font-size: 1em;
}

.listing-date {
	font-size: .72em;
	color:#808080;
	width:30%;
	text-align:left;
}

.listing-title {
	padding-left:10%;
	padding-right:5%;
	width:70%;
	text-align:center;
}

.post-contents {
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 13vh;
	width: 50%;
	font-size: .75em;
	line-height: 1.5;
}

.post p {
	letter-spacing: .25px;
}

.post h2 {
	font-size: 1.5em;
	text-decoration: underline;
	text-align: center;
}

.post a {
	color: #5eb0d1;
}

.post a:before {
	background-color: #5eb0d1;
}

.post img {
	border: 1px solid skyblue;
  max-width: 100%;
}

.post ol {
	overflow-x: "scroll"
}

.post img {
	display: block;
	margin: auto;
}

.highlight pre {
	overflow-x:auto;
	overflow-y:hidden;
	border:1px solid lightskyblue;
	padding-left:5%;
	padding-right:5%;
	padding-top:5%;
	padding-bottom:5%;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 20%;
  height:10vh;
	margin-top: 3vh;
	width: 60%;
	text-align: center; 
}

.footer a {
	font-size: .7em
}

::-webkit-scrollbar {
	height: .3em;
	width: .35em;
}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background: lightgray;
}

::-webkit-scrollbar-thumb:hover {
	background: gray;
}

::-webkit-scrollbar-thumb:active {
	background: gray;
}

@media (max-width: 870px) {
	.header {
		width:80%;
		padding-left:10%;
		padding-right:10%;
	}

	.post-listings {
		width:100%;
	}
	
	.post-contents {
		margin-left:auto;
		margin-right:auto;
		overflow-x:wrap;
		width:90%;
		max-width:100%;
		text-align:center;
	}
	
	.footer {
		width: 90%;
		left: 5%;
	}
}

@media (max-width: 500px) {

	td {
		padding-top: 4%;
		line-height:1.5;
	}
}
